@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

/* Home Page */
.main {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
} 

.main img {
  width: 900px;
  height: 350px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.image1 {
  float: left;
  width: 33.3%;
  padding-bottom: 40px;
}

.image2 {
  float: left;
  width: 33.3%;
  padding-bottom: 40px;
}

/* Feelings Menu Page */

.nav-link {
  font-family: 'Caveat Brush', cursive;
  display: inline-block;
  font-size: 30px;
  
}

.title {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 45px;
  color: gray;
}

.menutitle {
  font-family: 'Caveat Brush', cursive;
  display: inline-block;
  color: gray;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-left: 12%;
}

.feelingsh1 {
  font-size: 60px;
}

.feelingsh2 {
  font-size: 50px;
  padding-bottom: 70px;
}

.angry {
  float: left;
  width: 33%;
}

.worried {
  float: left;
  width: 33%;
}

.sad {
  float: left;
  width: 33%;
}

/* Angry Feelings Page */

.told {
  font-family: 'Caveat Brush', cursive;
  color: gray;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 60px;
}

.feelingtitle {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nextstep {
  font-family: 'Caveat Brush', cursive;
  color: gray;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
  font-size: 60px;
}

.quiet {
  font-family: 'Caveat Brush', cursive;
  color: black;
  font-size: 60px;
  float: left;
  width: 33.3%;
  padding-bottom: 40px;
  margin-left: 100px;
  text-align: center;
  padding-top: 10px;
}

.quiet img {
  padding-top: 50px;
}

.help {
  font-family: 'Caveat Brush', cursive;
  color: black;
  font-size: 60px;
  float: left;
  width: 33.3%;
  padding-bottom: 40px;
  text-align: center;
  margin-left: 200px;
  padding-top: 10px;
}

.help img {
  padding-top: 50px;
}